h1{
    text-align: center;
    color: blue;
}

.showcase
{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));  /*Create 6 columns at minimum 200px and max 1 fraction of available space*/
    gap: 1em;
}

